/* roots */
:root{
    --main-dark:#051367;
    --main-blue:#2D31FA;
    --secoundry-blue:#5D8BF4;
    --main-light:#DFF6FF;
}

body{
    font-family: 'Baloo Tamma 2', cursive, Arial;
}
.my-nav{
    background-color: var(--main-dark) !important;
}
.logo{
    color: var(--main-light) !important;
}
.nav-item{
    color: var(--main-light) !important;
}
.nav-item:hover,
.logo:hover{
color: var(--main-blue) !important;
}
.drop-nav-item{
    color: var(--main-dark) !important;
}
.drop-nav-item:hover{
    color: var(--main-dark) !important;
}
#dropdown{
    top: 45px;
    transform: translateX(-30%);
}
